<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Semepi 2021 - X</h4>
      <h1>Oficina de Docker...</h1>
      <img height="200" width="200" src="https://i.pinimg.com/originals/9a/2e/e1/9a2ee143d2b7b5175d86499cd027c9f0.jpg" />
    </div>
  </body>
</html>
